* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: gray;
}

section {
    background-color: indigo;
}

footer {
    background-color: hotpink;
}

@media (max-width: 480px) {
    .footer1023,
    .footer1024 {
        display: none;
    }
}

@media (min-width: 481px) and (max-width:1023px) {
    .footer480,
    .footer1024 {
        display: none;
    }
}

@media (min-width:1024px) {
    .footer480,
    .footer1023 {
        display: none;
    }
}